<header id="top-nav">
  <div id="brand">
    <h1>IMDb - Clone</h1>
  </div>

<!-- SEARCH BAR -->
  <%= react_component 'SearchView' %>
<!--  -->

</header>

<section class="container">
  <!-- ARTICLES -->
  <%= react_component 'ArticlesView' %>

  <!-- TOP MOVIES -->
  <%= react_component 'TopMoviesView' %>


</section>

<!-- FOOTER -->
<section class="footer">

  <footer>
    <p>Awesome website, made originally by Neel Gupta.</p>
  </footer>

</section>
