<header id="top-nav">
  <div id="brand">
    <h1>IMDb - Clone</h1>
  </div>

<!-- SEARCH BAR -->
  <%= react_component 'SearchView' %>
<!--  -->

</header>

<section class="container">
  <!-- ARTICLES -->
  <%= react_component 'ArticlesView' %>


  <!-- TOP MOVIES -->
  <div class="top-movies">
    <h1>Top Movies</h1>

    <!-- SINGLE MOVIE COMP -->
    <div class="movie-obj">
      <ul>
        <li>
          <h2>1</h2>
          <p>title 1</p>
        </li>

        <li>
          <h2>2</h2>
          <p>title 2</p>
        </li>

        <li>
          <h2>3</h2>
          <p>title 3</p>
        </li>

        <li>
          <h2>4</h2>
          <p>title 4</p>
        </li>

        <li>
          <h2>5</h2>
          <p>title 5</p>
        </li>

      </ul>
    </div>

  <!-- END TOP MOVIES DIV -->
  </div>


</section>

<!-- FOOTER -->
<section class="footer">

  <footer>
    <p>Awesome website, made originally by Neel Gupta.</p>
  </footer>

</section>
