<header id="top-nav">
  <div id="brand">
    <h1>IMDb - Clone</h1>
  </div>
  <%= react_component 'SearchBoxView' %>
</header>

<section class="container">
  <!-- ARTICLES -->
  <div class="articles">
    <!-- SINGLE ARTICLE COMP -->
    <div class="article-obj">
      <ul>

        <li>
          <h1>Article Image</h1>
            <h3>Single Article Title</h3>
              <p>Here goes some blurb about the article</p>
        </li>

        <li>
          <h1>Article Image 2</h1>
            <h3>Single Article Title</h3>
              <p>Here goes some blurb about the article</p>
        </li>

        <li>
          <h1>Article Image 3</h1>
            <h3>Single Article Title</h3>
              <p>Here goes some blurb about the article</p>
        </li>

        <li>
          <h1>Article Image 4</h1>
            <h3>Single Article Title</h3>
              <p>Here goes some blurb about the article</p>
        </li>

      </ul>
    </div>

    <!-- END ARTICLES DIV -->
  </div>

  <!-- TOP MOVIES -->
  <div class="top-movies">
    <h1>Top Movies</h1>

    <!-- SINGLE MOVIE COMP -->
    <div class="movie-obj">
      <ul>
        <li>
          <h2>1</h2>
          <p>title 1</p>
        </li>

        <li>
          <h2>2</h2>
          <p>title 2</p>
        </li>

        <li>
          <h2>3</h2>
          <p>title 3</p>
        </li>

        <li>
          <h2>4</h2>
          <p>title 4</p>
        </li>

        <li>
          <h2>5</h2>
          <p>title 5</p>
        </li>

      </ul>
    </div>

  <!-- END TOP MOVIES DIV -->
  </div>


</section>

<!-- FOOTER -->
<section class="footer">

  <footer>
    <p>Awesome website, made originally by Neel Gupta.</p>
  </footer>

</section>
